.content {
  padding: 2rem 1rem;
}

#opening {
  padding: 2rem 2rem;
}

#solution {
  padding: 2rem 2rem;
}

#information {
  padding: 2rem 2rem;
}

#list {
  padding: 2rem 2rem;
}

#listgunung {
  padding: 2rem 2rem;
}

#desk {
  padding: 2rem 2rem;
}

.footer {
  padding: 1rem 1rem;
}

#searchbar {
  padding: 1rem 1rem;
}
